{% extends "djmongo/console/base.html" %}
{% block Content %}

{% load i18n %}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
              <h1>Welcome to djmongo</h1>
              <p>djmongo provides a UI for MongoDB management called the Console. 
               You can also make use of the built int API via number or RESTFul URLs. 
                <a targethref="https://github.com/hhsidealab/django-djmongo">
                    Please see the documentation</a> for more details.
              </p>

              <p><i <i class="fa fa-2x fa-user-md" title="Individual"></i> </i>   <a class="btn btn-primary btn-lg" href="{% url 'djmongo_show_dbs'%}" role="button">Continue to the Console</a></p>
            </div>
        </div>  
    </div>
</div>
    {% endblock %}
